<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>success</h1>
    <script>
    Kakao.API.request({
        url: "/v2/user/me",
        success: function ({ kakao_account }) {
            const { age_range, profile } = kakao_account;
            console.log(age_range);
            console.log(profile);
        },
        fail: function (error) {
            console.log(error);
        }
    });
    </script>
</body>
</html>